body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
}

.node rect {
	fill: #fff;
	stroke: #888;
	stroke-width: 2px;
}

.node-name,
.spouse-name {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: #888;
	stroke-width: 2px;
}

.expand-icon {
	font-size: 16px;
}
