body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
}

.chart-bg {
	fill: #ddd;
	cursor: move;
}

.node--has-children {
	cursor: pointer;
}

.box {
	fill: #fff;
	stroke: #888;
	stroke-width: 2px;
}

.box--female {
	stroke: hotpink;
}

.box--male {
	stroke: steelblue;
}

.node-name,
.spouse-name {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: #888;
	stroke-width: 2px;
}

.expand-icon {
	font-size: 16px;
}

.bio-display {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.5);
}
